@model WebDSM.Models.Puja

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = @Session["PujaError"];
    if (message != null) System.Web.HttpContext.Current.Session.Remove("PujaError");
    else message = "Introduce un entero";

    int sessionID = 0;
    if (Session["login"] != null)
        sessionID = (int)Session["idusuario"];

    var IMG_3D = "https://sketchfab.com/models/" + @Model.Image3DArt + "/embed";
}

<div class="container-fluid bg-black item-background d-md-flex" id="puja">

    <div class="row w-100 ">
        <div class="col-12 col-md-7 d-flex align-items-center">

        @if (Model.Image3DArt.IsEmpty())
        {
            <div class="item_img text-center">

            @if (Model.ImageArt.IsEmpty())
            {
                <img class="content" src="~/Images/Shut-up-and-take-my-money!.png" alt="" />
            }
            else
            {
                <img class="content" src="@Url.Content("~/Content/Uploads/Item_images/"+Model.ImageArt)" alt="Imagen del articulo @Model.Articulo" />
            }
            </div>
        }
        else
        {
            <div id="3D_Container" class="item_img_3d d-inline-block">
                <iframe class="i3d" id="a3d" style="height:500px" src="@IMG_3D" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
            </div>
        }
        </div>
        <div class="col-12 col-md-5 pt-2 d-flex align-items-center">
            <div>
                <div class="display-4 text-orange">
                    @Html.DisplayFor(model => model.Articulo)
                </div>
                <div class="h3 elegant">@Html.DisplayFor(model => model.Videojuego)</div>
                <div>
                    @Html.DisplayFor(model => model.ArtDescripcion)
                </div>
                <div class="h3 elegant">Cierra: @Model.Fecha</div>
                <div class="h3 text-capitalize mt-4 elegant">
                    PUJA MAXIMA:
                    <span class="text-blood">
                        @Html.DisplayFor(model => model.PujaMaxima)
                        €
                    </span>
                </div>
            
            @if (!Model.Cerrada)
            {
                //SI LA PUJA ESTA ABIERTA
                using (Html.BeginForm("NuevaPuja", "Puja", FormMethod.Post, new { id = "needs-validation", novalidate = "" }))
                {
                    <div class="form-group row mt-4">
                        <div class="col-10 col-md-5">
                            <input type="hidden" name="id" value="@Html.DisplayFor(model => model.Id)" />
                            <input class="form-control" type="number" name="puja" placeholder="Importe" required/>
                            <div class="invalid-feedback" id="error">
                                @message
                            </div>
                        </div>
                        <div class="col-10 col-md-5 mt-3 mt-md-0">
                            <input class="col-12 btn btn-outline-light pointer" type="submit" value="Pujar" />
                        </div>
                    </div>
                }
            }
            else
            {
                //SI ESTA LOGEADO
                if (sessionID != 0)
                {
                    //SI ES EL GANADOR
                    if (Model.IdGanador == sessionID)
                    {
                        //SI NO LA HA PAGADO AUN
                        if (!Model.Pagada)
                        {
                            <div class="pt-5">
                                Ganaste la puja!
                                <a class="btn btn-outline-warning" href="@Url.Action("PagarPuja","Puja", new { pujaid = Model.Id })">
                                    Pagar ahora
                                </a>
                            </div>
                        }
                        else
                        {
                            <div>
                                ¡Ganaste! Gracias por pujar
                            </div>
                        }
                    }
                    else
                    {
                        <div>
                            Puja Cerrada. No has ganado.
                        </div>
                    }
                }
                else
                {
                        <div>
                            Puja Cerrada.
                        </div>
                }
            }
            </div>
        </div>
        <div class="col-1 align-self-center elegant">
           
        </div>

       
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            var form = document.getElementById('needs-validation');
            var error = document.getElementById('error');
            var m = "@message";
            if (m != "Introduce un entero") {
                form.classList.add('was-validated');
            }
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');

                if ("@Session["idUsuario"]" == "") {
                    error.innerHTML = "Para poder pujar debes estar registrado: <br /><a class='mt-2 btn btn-outline-light' href='../../Registrado/Login'>Conéctate</a>";
                }
                else
                    error.innerHTML = "Introduce un importe";


            }, false);


        }, false);
    })();
</script>
