@model IEnumerable<WebDSM.Models.Puja>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var borderleft = "";
    var i = 0;
}

    <div class="container-fluid position-relative px-0" id="pujas">
        <div class="row mt-3 mx-0">
            <div class="col-9 col-md-2 bg-orange h3 elegant mb-0 pl-3">
                    Abiertas
            </div>
        </div>
        <div class=" row selector mx-0">
            <ul class="px-2 py-2 m-0">
                @foreach (var item in Model)
                {
                    if (i > 0)
                    {
                        borderleft = "border-left";
                    }
                    if (!item.Cerrada)
                    {
                        <li class="profile-button">
                            <a href="@Url.Action("Details", "Puja", new { id = item.Id })">
                                <div class="p-3 @borderleft text-white elegant text-center">
                                    @if (!item.ImageArt.IsEmpty())
                                    {
                                        <img src="@Url.Content("~/Content/Uploads/Item_images/"+item.ImageArt)" alt="Imagen del articulo" />
                                    }
                                    else
                                    {
                                        <img src="~/Images/Shut-up-and-take-my-money!.png" alt="" />
                                    }
                                    <h5 class="pt-2">@item.Articulo</h5>
                                    <p>@item.ArtDescripcion</p>
                                    <h5 class="pt-3 elegant">Puja actual: <span class="text-blood">@item.PujaMaxima€</span> </h5>
                                </div>
                            </a>
                        </li>
                        i++;
                    }
                }
            </ul>
            @if (i == 0)
                {
                    <div class="sin_resultados_puja elegant h3 text-white d-flex align-items-center justify-content-center">
                        No hay ninguna puja actualmente.
                    </div>
                }
        </div>

        @{
            borderleft = "";
            i = 0;
        }
        <div class="row mt-3 mx-0">
            <div class="col-9 col-md-2 bg-blood h3 elegant mb-0 pl-3">
                    Cerradas
            </div>
        </div>
        <div class=" row selector mx-0">
            <ul class="px-2 py-2 m-0">
                @foreach (var item in Model)
                {
                    if (i > 0)
                    {
                        borderleft = "border-left";
                    }
                    if (item.Cerrada)
                    {
                        <li class="cerrada_button">
                            <a href="#">
                                <div class="p-3 @borderleft text-white elegant text-center">
                                    @if (!item.ImageArt.IsEmpty())
                                    {
                                        <img src="@Url.Content("~/Content/Uploads/Item_images/"+item.ImageArt)" alt="Imagen del articulo" />
                                    }
                                    else
                                    {
                                        <img src="~/Images/Shut-up-and-take-my-money!.png" alt="" />
                                    }
                                    <h5 class="pt-2">@item.Articulo</h5>
                                    <p>@item.ArtDescripcion</p>
                                    @if(item.UsuarioGanador != "Sin pujas")
                                    {
                                        <h5 class="pt-3 elegant">Ganador: <span class="text-blood">@item.UsuarioGanador</span> </h5>
                                    }
                                    else
                                    {
                                        <h5 class="pt-3 elegant"><span class="text-blood">Sin pujas</span></h5>
                                    }
                                </div>
                            </a>
                        </li>
                        i++;
                    }
                }
                
            </ul>
            @if (i == 0)
                {
                    <div class="sin_resultados_puja elegant h3 text-white d-flex align-items-center justify-content-center">
                        No hay ninguna puja cerrada
                    </div>
                }
        </div>
    </div>