@model WebDSM.Models.Admin

@{
    Layout = "~/Views/Shared/SimpleLayout.cshtml";
    WebDSM.Models.Admin superCat = new WebDSM.Models.Admin();
    List<SelectListItem> listSCat = superCat.Categoria.getAllNombres();
    List<SelectListItem> listSArt = superCat.Articulo.getAllNombres();
    List<SelectListItem> listSPuj = superCat.Puja.getAllNombres();
    List<SelectListItem> listVid = superCat.Videojuego.GetAllVideojuegos();

    var message = @Session["PujaError"];
    if (message != null) System.Web.HttpContext.Current.Session.Remove("PujaError");


}

@{ 
    @*PETA SI NO LO PONGO AQUI*@
    if(Session["admin"] == null || (bool)Session["admin"] == false)
    {
        Response.Redirect("~/Home");
    }
}


<div class="col-3 h-100 bg-black position-fixed d-none d-lg-block"></div>

<div class="container-fluid pb-3">
    <div class="row">
        <div class="col-12 flex-lg-column col-lg-3 navbar navbar-expand-lg navbar-dark  bg-black">
            <div class="row justify-content-center mb-3 w-100">
                <div class="col-12 text-center pt-2">
                    <img class="logo-img" src="~/Images/NA-ME.png" alt="NA-ME" />
                </div>
                <button class="navbar-toggler mr-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Volver", "Index", "Home", null, new { @class = "btn btn-outline-danger w-50" })
            </div>
            
            <div class="navbar-collapse row w-100 collapse" id="navbarSupportedContent">     
                <div class="nav h-100 w-100 align-self-baseline text-center text-lg-left">
                    <h4 class="col-12 px-0 elegant text-white">Categoría</h4>
                    <a class="col-12 nav-link pl-lg-3" id="cat-create-tab" data-toggle="pill" href="#cat-create">Añadir</a>
                    <a class="col-12 nav-link pl-lg-3" id="cat-modify-tab" data-toggle="pill" href="#cat-modify">Editar</a>
                    <a class="col-12 nav-link pl-lg-3" id="cat-delete-tab" data-toggle="pill" href="#cat-delete">Eliminar</a>

                    <h4 class="col-12 px-0 elegant text-white">Videojuego</h4>
                    <a class="col-12 nav-link pl-lg-3" id="vid-create-tab" data-toggle="pill" href="#vid-create">Añadir</a>
                    <a class="col-12 nav-link pl-lg-3" id="vid-modify-tab" data-toggle="pill" href="#vid-modify">Editar</a>
                    <a class="col-12 nav-link pl-lg-3" id="vid-delete-tab" data-toggle="pill" href="#vid-delete">Eliminar</a>

                    <h4 class="col-12 px-0 elegant text-white mt-3">Artículo</h4>
                    <a class="col-12 nav-link pl-lg-3" id="art-create-tab" data-toggle="pill" href="#art-create">Añadir</a>
                    <a class="col-12 nav-link pl-lg-3" id="art-modify-tab" data-toggle="pill" href="#art-modify">Editar</a>
                    <a class="col-12 nav-link pl-lg-3" id="art-delete-tab" data-toggle="pill" href="#art-delete">Eliminar</a>


                    <h4 class="col-12 px-0 elegant text-white mt-3">Puja</h4>
                    <a class="col-12 nav-link pl-lg-3" id="puj-create-tab" data-toggle="pill" href="#puj-create">Añadir</a>
                    <a class="col-12 nav-link pl-lg-3" id="puj-delete-tab" data-toggle="pill" href="#puj-delete">Cerrar</a>

                    <h4 class="col-12 px-0 elegant text-white mt-3">Usuarios</h4>
                    <a class="col-12 nav-link pl-lg-3" id="users-tab" data-toggle="pill" href="#users" role="tab" aria-controls="users" aria-selected="false">Administrar</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9">
            <div class="row">
                <div class="col tab-content" id="v-pills-tabContent">

                    <!--AÑADIR CATEGORIA-->
                    <div class="tab-pane fade" id="cat-create" role="tabpanel" aria-labelledby="cat-create-tab">
                        <div class="display-4 text-center mt-4">Añadir categoría</div>
                        @using (Html.BeginForm("Create", "Categoria", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group mt-3">
                                <label for="Categoria_Nombre">Nombre<span class="text-blood">*</span></label>
                                @Html.EditorFor(model => model.Categoria.Nombre, new { htmlAttributes = new { @class = "form-control", placeholder = "Introduce el nombre de la categoria" } })
                                <small id="nameHelp" class="form-text text-muted">Elige un nombre para la nueva categoría.</small>
                            </div>

                            <div class="form-group">
                                <label for="Categoria_NomSuper">Supercategoria</label>
                                @Html.DropDownListFor(model => model.Categoria.SuperId, new SelectList(listSCat, "Value", "Text"), null, new { @class = "form-control" })
                                <small id="SuperHelp" class="form-text text-muted">Puedes elegir si esta categoría se encuentra dentro de otra.</small>
                            </div>
                            <div class="form-group">
                                <input type="file" name="file" value="Browse" />
                            </div>
                            <button type="submit" class="btn btn-outline-dark pointer">Añadir</button>
                        }
                    </div>

                    <!--MODIFICAR CATEGORIA-->
                    <div class="tab-pane fade" id="cat-modify" role="tabpanel" aria-labelledby="cat-modify-tab">
                        <div class="display-4 text-center mt-4">Editar categoría</div>
                        @using (Html.BeginForm("Edit", "Categoria", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group mt-3">
                                <label for="Categoria_NomSuper">Categoría</label>
                                @Html.DropDownListFor(model => model.Categoria.Id, new SelectList(listSCat, "Value", "Text"), null, new { @class = "form-control" })
                                <small id="SuperHelp" class="form-text text-muted">Elige la categoría que quieres modificar.</small>
                            </div>
                            <div class="form-group mt-3">
                                <label for="Categoria_Nombre">Nombre<span class="text-blood">*</span></label>
                                @Html.EditorFor(model => model.Categoria.Nombre, new { htmlAttributes = new { @class = "form-control", placeholder = "Introduce el nombre de la categoria" } })
                                @Html.ValidationMessageFor(model => model.Categoria.Nombre, "", new { @class = "text-danger" })
                                <small id="nameHelp" class="form-text text-muted">Elige un nuevo nombre para la categoría.</small>
                            </div>
                            <div class="form-group">
                                <label for="Categoria_NomSuper">Supercategoria</label>
                                @Html.DropDownListFor(model => model.Categoria.SuperId, new SelectList(listSCat, "Value", "Text"), null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Categoria.SuperId, "", new { @class = "text-danger" })
                                <small id="SuperHelp" class="form-text text-muted">Puedes elegir si esta categoría se encuentra dentro de otra.</small>
                            </div>
                            <div class="form-group">
                                <input type="file" name="file" value="Browse" />
                            </div>
                            <button type="submit" class="btn btn-outline-dark pointer">Actualizar</button>
                        }
                    </div>

                    <!--ELIMINAR CATEGORIA-->
                    <div class="tab-pane fade" id="cat-delete" role="tabpanel" aria-labelledby="cat-delete-tab">
                        <div class="display-4 text-center mt-4">Eliminar categoría</div>
                        @using (Html.BeginForm("Delete", "Categoria", FormMethod.Post, new { id = "needs-validation", novalidate = "" }))
                        {

                            <div class="form-group mt-3">
                                <label for="Categoria_NomSuper">Categoría</label>
                                @Html.DropDownListFor(model => model.Categoria.Id, new SelectList(listSCat, "Value", "Text"), null, new { @class = "form-control" })
                                <small id="SuperHelp" class="form-text text-muted">Elige la categoría que quieres eliminar.</small>
                            </div>
                            <button type="submit" class="btn btn-outline-dark pointer">Eliminar</button>
                        }
                    </div>

                    <!--AÑADIR VIDEOJUEGO-->
                    <div class="tab-pane fade" id="vid-create" role="tabpanel" aria-labelledby="vid-create-tab">
                        <div class="display-4 text-center mt-4">Añadir videojuego</div>
                        @using (Html.BeginForm("Create", "Videojuego", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group mt-3">
                                <label for="Videojuego_Nombre">Nombre<span class="text-blood">*</span></label>
                                @Html.EditorFor(model => model.Videojuego.Nombre, new { htmlAttributes = new { @class = "form-control", placeholder = "Introduce el nombre del videojuego" } })
                                <small id="nameHelp" class="form-text text-muted">Elige un nombre para el videojuego.</small>
                            </div>
                            <div class="form-group">
                                <input type="file" name="file" value="Browse" />
                            </div>
                            <button type="submit" class="btn btn-outline-dark pointer">Añadir</button>
                        }
                    </div>

                    <!--MODIFICAR VIDEOJUEGO-->
                    <div class="tab-pane fade" id="vid-modify" role="tabpanel" aria-labelledby="vid-modify-tab">
                        <div class="display-4 text-center mt-4">Editar videojuego</div>
                        @using (Html.BeginForm("Edit", "Videojuego", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group mt-3">
                                <label for="Videojuego_Nombre">Videojuego</label>
                                @Html.DropDownListFor(model => model.Videojuego.Id, new SelectList(listVid, "Value", "Text"), null, new { @class = "form-control" })
                                <small id="SuperHelp" class="form-text text-muted">Elige el videojuego que quieres modificar.</small>
                            </div>
                            <div class="form-group mt-3">
                                <label for="Videojuego_Nombre">Nombre<span class="text-blood">*</span></label>
                                @Html.EditorFor(model => model.Videojuego.Nombre, new { htmlAttributes = new { @class = "form-control", placeholder = "Introduce el nombre del videojuego" } })
                                @Html.ValidationMessageFor(model => model.Videojuego.Nombre, "", new { @class = "text-danger" })
                                <small id="nameHelp" class="form-text text-muted">Elige un nuevo nombre para el videojuego.</small>
                            </div>
                            <div class="form-group">
                                <input type="file" name="file" value="Browse" />
                            </div>
                            <button type="submit" class="btn btn-outline-dark pointer">Actualizar</button>
                        }
                    </div>

                    <!--ELIMINAR VIDEOJUEGO-->
                    <div class="tab-pane fade" id="vid-delete" role="tabpanel" aria-labelledby="vid-delete-tab">
                        <div class="display-4 text-center mt-4">Eliminar videojuego</div>
                        @using (Html.BeginForm("Delete", "Videojuego", FormMethod.Post, new { id = "needs-validation", novalidate = "" }))
                        {

                            <div class="form-group mt-3">
                                <label for="Videojuego_Nombre">Videojuego</label>
                                @Html.DropDownListFor(model => model.Videojuego.Id, new SelectList(listVid, "Value", "Text"), null, new { @class = "form-control" })
                                <small id="SuperHelp" class="form-text text-muted">Elige el videojuego que quieres eliminar.</small>
                            </div>
                            <button type="submit" class="btn btn-outline-dark pointer">Eliminar</button>
                        }
                    </div>

                    <!--AÑADIR ARTICULO-->
                    <div class="tab-pane fade" id="art-create" role="tabpanel" aria-labelledby="art-create-tab">
                        <div class="display-4 text-center mt-4">Añadir artículo</div>
                        <div class="row">
                            <div class="col-12 offset-sm-1 col-sm-10 offset-md-3 col-md-6 offset-xl-4 col-xl-4 grid d-flex align-items-center py-3">
                                <figure class="effect-oscar mb-0 shadow">
                                    <img src="~/Images/Shut-up-and-take-my-money!.png" alt="" />
                                    <figcaption>
                                        <h2><span></span></h2>
                                        <p></p>
                                        <a href="#"></a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-12">
                                <h3 class="elegant text-center">Preview</h3>
                            </div>
                        </div>
                        @using (Html.BeginForm("Create", "Articulo", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group mt-3">
                                <label for="Articulo_Nombre">Nombre<span class="text-blood">*</span></label>
                                @Html.EditorFor(model => model.Articulo.Nombre, new { htmlAttributes = new { @class = "form-control", placeholder = "Introduce el nombre del artículo" } })
                                @Html.ValidationMessageFor(model => model.Articulo.Nombre, "", new { @class = "text-danger" })
                                <small id="nameHelp" class="form-text text-muted">Elige un nombre para el nuevo artículo.</small>
                            </div>
                            <div class="row">

                                <div class="form-group col-6">
                                    <label for="Articulo_Precio">Precio<span class="text-blood">*</span></label>
                                    @Html.EditorFor(model => model.Articulo.Precio, new { htmlAttributes = new { @type = "number", @min = "0", @step = "0.01", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Articulo.Precio, "", new { @class = "text-danger" })
                                    <small id="nameHelp" class="form-text text-muted">Elige el precio para el nuevo artículo.</small>
                                </div>

                                <div class="form-group col-6">
                                    <label for="Articulo_NomCategoria">Categoria<span class="text-blood">*</span></label>
                                    @Html.DropDownListFor(model => model.Articulo.NomCategoria, new SelectList(listSCat, "Value", "Text"), null, new { @class = "form-control" })
                                    <small id="SuperHelp" class="form-text text-muted">Elige la categoría a la que pertenece.</small>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="Articulo_Descripcion">Descripcion<span class="text-blood">*</span></label>
                                @Html.TextAreaFor(model => model.Articulo.Descripcion, new { @class = "form-control mw-100", rows = "5" })
                                @Html.ValidationMessageFor(model => model.Articulo.Descripcion, "", new { @class = "text-danger" })
                                <small id="nameHelp" class="form-text text-muted">¿Cómo es el producto?</small>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="Articulo_Stock">Stock<span class="text-blood">*</span></label>
                                    @Html.EditorFor(model => model.Articulo.Stock, new { htmlAttributes = new { @type = "number", @min = "0", @step = "1", @value = "0", @class = "form-control", placeholder = "0, 1, 5, 10..." } })
                                    @Html.ValidationMessageFor(model => model.Articulo.Stock, "", new { @class = "text-danger" })
                                    <small id="nameHelp" class="form-text text-muted">Introduce el número de unidades disponibles.</small>
                                </div>
                                <div class="form-group col-6">
                                    <label for="Articulo_Img_3d">ID - Modelo 3D</label>
                                    @Html.EditorFor(model => model.Articulo.Img_3d, new { htmlAttributes = new { @class = "form-control", placeholder = "Ej: 35d80a2cc36b4df1adad7242df730d5c" } })
                                    <small id="nameHelp" class="form-text text-muted">Introduce el id del modelo 3D, si existe.</small>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Articulo.IdVideojuego, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.Articulo.IdVideojuego, new SelectList(listVid, "Value", "Text"), "Selecciona un videojuego para el artículo", new {@class="form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="file" name="file" value="Browse" />
                            </div>
                            <div class="row mt-2 p-3">
                                <div class="col">
                                    <button type="submit" class="btn btn-outline-dark pointer w-100 mx-auto">Añadir</button>
                                </div>
                            </div>
                        }
                    </div>

                    <!--MODIFICAR ARTICULO-->
                    <div class="tab-pane fade" id="art-modify" role="tabpanel" aria-labelledby="art-modify-tab">
                        <div class="display-4 text-center mt-4">Editar artículo</div>
                        <div class="row">
                            <div class="col-12 offset-sm-1 col-sm-10 offset-md-3 col-md-6 offset-xl-4 col-xl-4 grid d-flex align-items-center py-3">
                                <figure class="effect-oscar mb-0 shadow">
                                    <img src="~/Images/Shut-up-and-take-my-money!.png" alt="" />
                                    <figcaption>
                                        <h2><span></span></h2>
                                        <p></p>
                                        <a href="#"></a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-12">
                                <h3 class="elegant text-center">Preview</h3>
                            </div>
                        </div>
                        @using (Html.BeginForm("Edit", "Articulo", FormMethod.Post, new { enctype = "multipart/form-data", id = "needs-validation", novalidate = "" }))
                        {
                            <div class="form-group mt-3 row">
                                <div class="col-6">

                                <label for="Categoria_NomSuper">Artículo</label>
                                @Html.DropDownListFor(model => model.Articulo.Id, new SelectList(listSArt, "Value", "Text"), null, new { @class = "form-control" })
                                <small id="SuperHelp" class="form-text text-muted">Elige el artículo que quieres editar.</small>
                                </div>
                                
                            </div>
                            <div class="form-group mt-3">
                                
                            </div>

                            <div class="form-group row">
                                <div class="col-6">

                                    <label for="Articulo_Nombre">Nombre</label>
                                    @Html.EditorFor(model => model.Articulo.Nombre, new { htmlAttributes = new { @class = "form-control", placeholder = "Introduce el nombre del artículo", value = "Ueee" } })
                                    @Html.ValidationMessageFor(model => model.Articulo.Nombre, "", new { @class = "text-danger" })
                                    <small id="nameHelp" class="form-text text-muted">Elige un nuevo nombre para el artículo.</small>
                                </div>
                                <div class="col-6">

                                    <label for="Articulo_Precio">Precio</label>
                                    @Html.EditorFor(model => model.Articulo.Precio, new { htmlAttributes = new { @type = "number", @min = "0", @step = "0.01", @value = "0", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Articulo.Precio, "", new { @class = "text-danger" })
                                    <small id="nameHelp" class="form-text text-muted">Elige un nuevo precio para el artículo.</small>

                                </div>

                            </div>


                            <div class="form-group">
                                <label for="Articulo_Descripcion">Descripcion<span class="text-blood">*</span></label>
                                @Html.TextAreaFor(model => model.Articulo.Descripcion, new { @class = "form-control mw-100", rows = "5" })
                                @Html.ValidationMessageFor(model => model.Articulo.Descripcion, "", new { @class = "text-danger" })
                                <small id="nameHelp" class="form-text text-muted">¿Cómo es el producto?</small>
                            </div>

                            <div class="form-group row">
                                <div class="col-6">

                                <label for="Articulo_Stock">Stock</label>
                                @Html.EditorFor(model => model.Articulo.Stock, new { htmlAttributes = new { @type = "number", @min = "0", @step = "1", @value = "0", @class = "form-control", placeholder = "0, 1, 5, 10..." } })
                                @Html.ValidationMessageFor(model => model.Articulo.Stock, "", new { @class = "text-danger" })
                                <small id="nameHelp" class="form-text text-muted">Cambia el número de unidades disponibles.</small>
                                </div>

                                <div class="col-6">
                                    <label for="Articulo_Img_3d">ID - Modelo 3D</label>
                                    @Html.EditorFor(model => model.Articulo.Img_3d, new { htmlAttributes = new { @class = "form-control", placeholder = "Ej: 35d80a2cc36b4df1adad7242df730d5c" } })
                                    <small id="nameHelp" class="form-text text-muted">Introduce el id del modelo 3D, si existe.</small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-6">
                                    <input type="file" name="file" value="Browse" />
                                </div>

                            </div>
                            <div class="row mt-2 p-3">
                                <div class="col">
                                    <button type="submit" class="btn btn-outline-dark pointer w-100 mx-auto">Editar</button>
                                </div>
                            </div>
                        }
                    </div>

                    <!--ELIMINAR ARTICULO-->
                    <div class="tab-pane fade" id="art-delete" role="tabpanel" aria-labelledby="art-delete-tab">
                        <div class="display-4 text-center mt-4">Eliminar artículo</div>
                        @using (Html.BeginForm("Delete", "Articulo", FormMethod.Post, new { id = "needs-validation", novalidate = "" }))
                        {

                            <div class="form-group mt-3">
                                <label for="Categoria_NomSuper">Artículo</label>
                                @Html.DropDownListFor(model => model.Articulo.Id, new SelectList(listSArt, "Value", "Text"), null, new { @class = "form-control" })
                                <small id="SuperHelp" class="form-text text-muted">Elige el artículo que quieres eliminar.</small>
                            </div>
                            <div class="row mt-2 p-3">
                                <div class="col">
                                    <button type="submit" class="btn btn-outline-dark pointer w-100 mx-auto">Destruir</button>
                                </div>
                            </div>
                        }
                    </div>

                    <!--AÑADIR PUJA-->
                    <div class="tab-pane fade" id="puj-create" role="tabpanel" aria-labelledby="puj-create-tab">
                        <div class="display-4 text-center mt-4">Añadir puja</div>
                        @using (Html.BeginForm("Create", "Puja", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group mt-3">
                                <label for="Categoria_NomSuper">Artículo</label>
                                <select class="form-control" id="Articulo_Nombre" name="Articulo">
                                    @foreach (var item in listSArt)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>

                                <small id="SuperHelp" class="form-text text-muted">Elige el artículo para ponerlo en subasta.</small>
                            </div>

                            <div class="form-group">
                                <label for="Articulo_Precio">Precio de inicio<span class="text-blood">*</span></label>

                                <input class="form-control text-box single-line valid" data-val="true" data-val-length="Demasiado cara no crees" data-val-length-max="999999" data-val-number="El campo Puja inicial debe ser un número." data-val-required="Debes introducir una cifra" id="Puja_PujaInicial" min="0" name="Puja" step="0.01" type="number" value="">
                                @Html.ValidationMessageFor(model => model.Puja.PujaInicial, "", new { @class = "text-danger" })
                                <small id="nameHelp" class="form-text text-muted">Elige el precio de lanzamiento de la puja.</small>
                            </div>

                            <button type="submit" class="btn btn-outline-dark pointer">Añadir</button>
                        }
                    </div>

                    <!--ELIMINAR PUJA-->
                    <div class="tab-pane fade" id="puj-delete" role="tabpanel" aria-labelledby="puj-delete-tab">
                        <div class="display-4 text-center mt-4">Cerrar puja</div>
                        @using (Html.BeginForm("Cierra", "Puja", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group mt-3">
                                <label for="Categoria_NomSuper">Puja</label>
                                <select class="form-control" id="Articulo_Nombre" name="id">
                                    @foreach (var item in listSPuj)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>

                                <small id="SuperHelp" class="form-text text-muted">Elige la subasta que quieres cerrar.</small>
                            </div>

                            <button type="submit" class="btn btn-outline-dark pointer">Cerrar</button>
                        }
                    </div>

                    <!--USUARIOS-->
                    <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users">
                        <div class="display-4 text-center mt-4">Administrar usuarios</div>
                        <div class="row mx-2 mt-4 p-3 d-none d-xl-flex">
                            <div class="col-3">Nombre de usuario</div>
                            @*<div class="col-3 text-left text-xl-center">Contraseña</div>*@
                            <div class="col-2">Nombre</div>
                            <div class="col-1">Apellidos</div>
                            <div class="col-1">Fecha de nacimiento</div>
                            <div class="col-1 text-center">Edad</div>
                        </div>
                        @foreach (var item in Model.Registrado)
                        {
                            if(item.Id != (int) Session["idUsuario"]) {
                            <div class="row mx-2 mt-2 p-2 bg-black">

                                <div class="col-12 mb-3 mb-xl-0 col-xl-3 "><small class="clearfix d-xl-none">Nombre de usuario: </small> @Html.DisplayFor(modelItem => item.NUsuario)</div>
                                @*<div class="col-12 mb-3 mb-xl-0 col-xl-3 text-left text-xl-center"><small class="clearfix d-xl-none">Contraseña: </small> <small> @Html.DisplayFor(modelItem => item.Contrasenya) </small> </div>*@
                                <div class="col-12 col-md-6 mb-3 mb-xl-0 col-xl-2"><small class="clearfix d-xl-none">Nombre: </small> @Html.DisplayFor(modelItem => item.Nombre)</div>
                                <div class="col-12 col-md-6 mb-3 mb-xl-0 col-xl-1"><small class="clearfix d-xl-none">Apellidos: </small> @Html.DisplayFor(modelItem => item.Apellidos)</div>
                                <div class="col-6 col-xl-1"><small class="clearfix d-xl-none">Fecha de nacimiento: </small> @Html.DisplayFor(modelItem => item.FNacimiento)</div>
                                <div class="col-6 mb-3 mb-xl-0 col-xl-1 text-left text-xl-center"><small class="clearfix d-xl-none">Edad: </small> @Html.DisplayFor(modelItem => item.Edad)</div>
                                @*<div class="col-12 mb-2 mb-xl-0 col-xl-1 px-1">@Html.ActionLink("Carrito", "Index", "Carrito", new { id = item.Id }, new { @class = "btn btn-outline-light w-100" })</div>*@
                                @*<div class="col-12 mb-2 mb-xl-0 col-xl-1 px-1">@Html.ActionLink("Pedidos", "Index", "Pedido", new { id = item.Id }, new { id = item.Id, @class = "btn btn-outline-light w-100" })</div>*@

                                @if (item.Admin)
                                {
                                    <div class="col-12 mb-2 mb-xl-0 col-xl-2 px-1">@Html.ActionLink("Admin --", "Beater", "Registrado", new { id = item.Id, ad = false }, new { @class = "btn btn-outline-danger w-100" })</div>
                                }
                                else
                                {
                                    <div class="col-12 mb-2 mb-xl-0 col-xl-2 px-1">@Html.ActionLink("Admin ++", "Beater", "Registrado", new { id = item.Id, ad = true }, new { @class = "btn btn-outline-light w-100" })</div>
                                }
                                <div class="col-12 mb-2 mb-xl-0 col-xl-2 px-1">@Html.ActionLink("Destruir", "Delete", "Registrado", new { id = item.Id }, new { id = item.Id, @class = "btn btn-outline-light w-100" })</div>
                            </div>
                            }
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>



</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
