@model IEnumerable<WebDSM.Models.Articulo>

@{
    ViewBag.Title = "Favoritos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center elegant pt-5"><i class="text-blood fas fa-heart"></i> Favoritos</h2>

<div class="container-fluid px-5">

<div class="grid">
    <div class="grid-sizer"></div>
    @foreach (var item in Model)
    {
        <div class="grid-item p-1">
            <figure class="effect-oscar">

                @if (item.Imagen != "")
                {
                    <img src="@Url.Content("~/Content/Uploads/Item_images/"+item.Imagen)" alt="Imagen del articulo @item.Nombre" />
                }
                else
                {
                    <img src="~/Images/Shut-up-and-take-my-money!.png" alt="" />
                }

                <figcaption>
                    <h2 class="shadow">@Html.DisplayFor(modelItem => item.Nombre) <span> @Html.DisplayFor(modelItem => item.Precio)</span></h2>
                    <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                    @Html.ActionLink(item.Nombre, "Details", new { id = item.Id })
                </figcaption>
            </figure>
        </div>
    }
</div>
</div>
