@model WebDSM.Models.Registrado

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/SimpleLayout.cshtml";

    bool aux = true;

    if(Session["login"] != null)
    {
        aux = false;
        Response.Redirect("~/Registrado/Perfil/"+(int)Session["idUsuario"]);
    }
    

}

<div class="container pt-5">
    <div class="row header_login mb-3">
        <div class="col">
            @Html.ActionLink(" ", "../Home/Index", "Home", new { @class = "col nav-link logo_dark" })
        </div>
    </div>
    <div class="row h-100 mx-sm-5 bg-black p-4 justify-content-center separator">
        <div class="col-12 font-weight-bold mb-5">
            <div class="row">
                <div class="col">Acceder con</div>
            </div>
            <div class="row justify-content-center pt-3">
                <div class="col-4 col-md-2 ">
                    @Html.ActionLink(" ", "#", "Home", new { @class = "col nav-link facebook m-auto" })
                </div>

                <!--BOTON DE INICIO DE SESION EN FB-->
                <div class="col-4 col-md-2 ">
                    <fb:login-button scope="public_profile,email" onclick="globalMas()"
                                     onlogin="checkLoginState();">
                    </fb:login-button>
                </div>

                <p id="demo"></p>

                <div class="col-4 col-md-2">
                    @Html.ActionLink(" ", "#", "Home", new { @class = "col nav-link twitter m-auto" })
                </div>
                <div class="col-4 col-md-2">
                    @Html.ActionLink(" ", "#", "Home", new { @class = "col nav-link google m-auto" })
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-2 offset-5 text-center">o</div>
            </div>
        </div>
        @using (Html.BeginForm("Login", "Registrado", FormMethod.Post, new { @class = "col-sm-10 col-md-9 col-lg-7 justify-content-center" }))
        {
            @*SI NO PONGO ESTO PETA*@
            if (aux)
            {
                @Html.AntiForgeryToken()
            }

        <div class="form-group row">
            @Html.LabelFor(model => model.NUsuario, " ", new { @class = "col-2  col-sm-1 col-form-label user" })
            <div class="col-10">
                @Html.EditorFor(model => model.NUsuario, new { htmlAttributes = new { @class = "form-control", placeholder = "Usuario" } })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Contrasenya, " ", new { @class = "col-2  col-sm-1 col-form-label pass" })
            <div class="col-10 col-sm-10">
                @Html.EditorFor(model => model.Contrasenya, new { htmlAttributes = new { @class = "form-control", placeholder = "Contraseña" } })
            </div>
        </div>
        <div class="row">
            <p>¿No tienes una cuenta en NA-ME? @Html.ActionLink("Registrarse", "Create", "Registrado", new { @class = "text-orange" })</p>
        </div>
        <div class="form-group mt-3">
            <div class="col-md-offset-2 col-md-10">
                <input class="col-12 ml-md-4 ml-lg-5 btn btn-outline-light pointer" type="submit" value="Login" />
            </div>
        </div>
    }
    </div>

</div>

<script>
    var globalCount = 0;

    function globalMas() {
        globalCount++;
        document.getElementById("demo").innerHTML = globalCount;
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '178529192744652',
            cookie: true,
            xfbml: true,
            version: 'v2.11'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


    FB.getLoginStatus(function (response) {
        statusChangeCallBack(response);
    });


    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            if (response.status == "connected") {
                //document.getElementById("demo").innerHTML = "Te has logeado a Facebook: " + response.authResponse.userID;
                var aux = response.authResponse.userID

                //document.getElementById("demo").innerHTML = aux;

                //ENVIO AL CONTROLLER EL ID UNICO DEL USUARIO QUE PROPORCIONA response
                jQuery.ajax({
                    type: "POST",
                    url: "@Url.Action("LoginFB","Registrado")",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ id: aux }),
                    success: function (result) {

                        //SI RESULT ES TRUE, ESTA REGISTRADO EN LA BDD
                        if (!result) {
                            //document.getElementById("demo").innerHTML = result;

                            window.location.href = "/Registrado/Create/" + aux;

                        }
                        else {
                            //document.getElementById("demo").innerHTML = "hola";

                            jQuery.ajax({
                                type: "POST",
                                url: "@Url.Action("LoginFB2","Registrado")",
                                dataType: "json",
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify({ id: aux }),
                                success: function (result) {

                                    //document.getElementById("demo").innerHTML = "PIPO MUERE";

                                    window.location.href = "../Home";

                                }
                            });



                        }


                    },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });


            }


        });


    }

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
