@model WebDSM.Models.PedidoYLineas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int UserId = 0;

    if (Session["login"] == null)
    {
        Response.Redirect("~/Registrado/Login");
    }
    else if (Model.Pedido.Registrado != (string)Session["login"] && (bool)Session["admin"] == false)
    {

        Response.Redirect("~/Home");
    }
    else
    {
        UserId = (int)Session["idUsuario"];
    }

}

<h2>Detalles del Pedido</h2>

<div>
    <h4>Datos</h4><b>Fecha: @Model.Pedido.Fecha - Total: @Model.Pedido.Total</b>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model.LineaPedido)
        {
            <p>@item.Articulo - Precio Unidad: @item.PrecioUnidad - Cantidad: @item.Cantidad</p>
        }
    </dl>
</div>
<div>
    @if (UserId != 0)
    {
        <a href="@Url.Action("LoadPedidos","Pedido")">Lista de Pedidos</a>
    }
</div>
