@model WebDSM.Models.PedidoYLineas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int UserId = 0;
    if (Session["login"] != null)
    {
        UserId = (int)Session["idUsuario"];
    }
}

<h2>Detalles del Pedido</h2>

<div>
    <h4>Datos</h4><b>Fecha: @Model.Pedido.Fecha - Total: @Model.Pedido.Total</b>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model.LineaPedido)
        {
            <p>@item.Articulo - Precio Unidad: @item.PrecioUnidad - Cantidad: @item.Cantidad</p>
        }
    </dl>
</div>
<p>
    @if (UserId != 0)
    {
        @Html.ActionLink("Lista de Pedidos", "../Pedido/Index", new { id = UserId })
    }
    else
    {
    <p>No logeado</p>
    }
</p>
