@model WebDSM.Models.ArticuloYOpinion


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Añadir una valoración al producto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Texto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Texto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Texto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Puntuacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Puntuacion, new { htmlAttributes = new { @class = "form-control" }})
                @Html.ValidationMessageFor(model => model.Puntuacion, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.IdArt, htmlAttributes: new { Value = Model.Articulo.Id })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Valorar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

