@model WebDSM.Models.ArticuloYOpinion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ArticuloYOpinion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Articulo.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articulo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Articulo.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articulo.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Articulo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articulo.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Articulo.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articulo.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Articulo.NombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articulo.NombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valoracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valoracion)
        </dd>
    </dl>
@foreach (var item in Model.Valoracion) { 
    <p>@item.Texto</p>
}
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
