@model IEnumerable<WebDSM.Models.Articulo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="grid column">
    @foreach (var item in Model)
    {

        <figure class="effect-oscar">
            <img src="~/Images/maxresdefault.jpg" alt="" />
            <figcaption>
                <h2>@Html.DisplayFor(modelItem => item.Nombre) <span> @Html.DisplayFor(modelItem => item.Precio)</span></h2>
                <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect-oscar">
            <img src="~/Images/kirito-wallpaper-3.jpg" alt="" />
            <figcaption>
                <h2>@Html.DisplayFor(modelItem => item.Nombre) <span> @Html.DisplayFor(modelItem => item.Precio)</span></h2>
                <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect-oscar">
            <img src="~/Images/Shut-up-and-take-my-money!.png" alt="" />
            <figcaption>
                <h2>@Html.DisplayFor(modelItem => item.Nombre) <span> @Html.DisplayFor(modelItem => item.Precio)</span></h2>
                <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect-oscar">
            <img src="~/Images/Nier.jpg" alt="" />
            <figcaption>
                <h2>@Html.DisplayFor(modelItem => item.Nombre) <span> @Html.DisplayFor(modelItem => item.Precio)</span></h2>
                <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect-oscar">
            <img src="~/Images/Shut-up-and-take-my-money!.png" alt="" />
            <figcaption>
                <h2>@Html.DisplayFor(modelItem => item.Nombre) <span> @Html.DisplayFor(modelItem => item.Precio)</span></h2>
                <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect-oscar">
            <img src="~/Images/Shut-up-and-take-my-money!.png" alt="" />
            <figcaption>
                <h2>@Html.DisplayFor(modelItem => item.Nombre) <span> @Html.DisplayFor(modelItem => item.Precio)</span></h2>
                <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
    }
</section>