@model WebDSM.Models.CarritoYLineas

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <h4>Carrito</h4><b>Precio: @Model.Carrito.Precio</b>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model.LineaPedido)
        {
            <p>@item.Articulo - Precio Unidad: @item.PrecioUnidad - Cantidad: @item.Cantidad - Total: @item.Total</p>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Carrito.Id }) |
    @Html.ActionLink("Back to List", "../Registrado/Index")
</p>
