@model WebDSM.Models.CarritoYLineas

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-8 p-2">
            <div class="col bg-black p-3">
                <h3 class="mb-3">Cesta</h3>
                <div class="row border-orange-y text-center mb-3 d-none d-md-flex">
                    <div class="col-5 text-left pl-5">Articulo</div>
                    <div class="col-2">Precio</div>
                    <div class="col-2">Cantidad</div>
                    <div class="col-2">Total</div>
                </div>
                @foreach (var item in Model.LineaPedido)
                {
                    <div class="row text-center">
                        <div class="col-5 text-left pl-3">
                            <div class="row">
                                <div class="col">
                                    <img class="miniatura-carrito" src="~/Images/kirito-wallpaper-3.jpg" />
                                </div>
                                <div class="col">
                                    @item.Articulo
                                </div>
                            </div>
                        </div>
                        <div class="col-2 d-none d-md-inline p-0">@item.PrecioUnidad €</div>
                        <div class="col-3 col-md-2">@item.Cantidad</div>
                        <div class="col-3 col-md-2 p-0">
                            <span class="d-md-none">TOTAL: </span>@item.Total €
                        </div>
                        <div class="col-1">X</div>
                    </div>
                    <hr />
                }
            </div> 
        </div>
        <div class="col-12 col-md-4 p-2">

            <div class="col bg-black border-orange-top-double">
                <div class="row p-2">
                    <h4 class="col text-left elegant">TOTAL</h4>
                    <h4 class="col text-right elegant text-blood"> @Model.Carrito.Precio €</h4>
                </div>
            </div>

            <div class="col btn btn-dark mt-2 pointer">
                COMPRAR
            </div>
        </div>
    </div>
</div>



