@model WebDSM.Models.Puja

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = @Session["PujaError"];
    if (message != null) System.Web.HttpContext.Current.Session.Remove("PujaError");
    else message = "Introduce un importe";
}

<div class="container-fluid bg-black item-background d-md-flex">
    <div class="row w-100 ">
       
        <div class="sketchfab-embed-wrapper col-12 col-md-6 mt-4 mt-md-0 py-md-5 h-75 align-self-center">
            <iframe class="col h-100 height-300px" src="https://sketchfab.com/models/35d80a2cc36b4df1adad7242df730d5c/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
        </div>
        
        <div class="col-12 col-md-5 pt-2 pt-md-5 mt-md-5">
            <div class="h1 text-orange ">
                @Html.DisplayFor(model => model.Articulo)
            </div>
            <div class="h3 elegant">@Html.DisplayFor(model => model.Videojuego)</div>
            <div>
                @Html.DisplayFor(model => model.ArtDescripcion)
            </div>
            <div class="h3 text-capitalize mt-4 elegant">
                PUJA MAXIMA:
                <span class="text-blood">
                    @Html.DisplayFor(model => model.PujaMaxima)
                    €
                </span>
            </div>

            
            @using (Html.BeginForm("NuevaPuja", "Puja", FormMethod.Post, new {  id = "needs-validation", novalidate = "" })) { 
                <div class="form-group row mt-4">
                    <div class="col-10 col-md-5">
                        <input type="hidden" name="id" value="@Html.DisplayFor(model => model.Id)" />
                        <input class="form-control" type="number" step="0.01" name="puja" placeholder="Importe" required/>
                        <div class="invalid-feedback" id="error">
                            @message
                        </div>
                    </div>
                    <div class="col-10 col-md-5 mt-3 mt-md-0">
                        <input class="col-12 btn btn-outline-light pointer" type="submit" value="Pujar" />
                    </div>
                </div>
            }
        </div>
        <div class="col-1 align-self-center elegant">
           
        </div>

       
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            var form = document.getElementById('needs-validation');
            var error = document.getElementById('error');
            var m = "@message";
            if (m != "Introduce un importe") {
                form.classList.add('was-validated');
            }
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');

                if ("@Session["idUsuario"]" == "") {
                    error.innerHTML = "Para poder pujar debes estar registrado: <br /><a class='mt-2 btn btn-outline-light' href='../../Registrado/Login'>Conéctate</a>";
                }
                else
                    error.innerHTML = "Introduce un importe";


            }, false);


        }, false);
    })();
</script>
