@model WebDSM.Models.Puja

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid bg-black item-background d-flex">
    <div class="row w-100 align-items-center">
        <div id="target" class="col-6">
            Testing!
        </div>
        <div class="col-5">
            <div class="h1 text-orange">
                @Html.DisplayFor(model => model.Articulo)
            </div>
            <div class="h2">CS:GO Knife (Nombre del juego?)</div>
            <div>
                @Html.DisplayFor(model => model.ArtDescripcion)
            </div>
            <div class="h3 text-capitalize mt-4">
                PUJA MAXIMA:
                <span class="text-blood">
                    @Html.DisplayFor(model => model.PujaMaxima)
                    €
                </span>
            </div>

            <!-------------------------------------------------- En proceso -------------------------------------------------->
            @Session["idUsuario"]
            <form action="../NuevaPuja" method="post">
                <div class="form-group row">

                    <div class="col-10">
                        <input type="hidden" name="id" value="@Html.DisplayFor(model => model.Id)" />
                        <input type="number" step="0.01" name="puja" />
                    </div>
                </div>
                <div class="form-group mt-3">
                    <div class="col-md-offset-2 col-md-10">
                        <input class="col-12 ml-md-4 ml-lg-5 btn btn-outline-light pointer" type="submit" value="Pujar" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-1">
            asd
        </div>

       
    </div>
</div>
<script>
      window.onload = function(){
        mad = new Madeleine({
          target: 'target',
          data: '../../3D_Models/gallardo.stl',
          path: '../../Scripts'
        });
      };
</script>