@model IEnumerable<WebDSM.Models.Articulo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="grid column">
    @foreach (var item in Model)
    {
        <figure class="effect-oscar">

            @if (item.Imagen.IsEmpty())
            {
                <img src="~/Images/Shut-up-and-take-my-money!.png" alt="" />
            }
            else
            {
                <img src="@Url.Content("~/Content/Uploads/Item_images/"+item.Imagen)" alt="Imagen del articulo @item.Nombre" />
            }


            <figcaption>
                <h2>@Html.DisplayFor(modelItem => item.Nombre) <span> @Html.DisplayFor(modelItem => item.Precio)</span></h2>
                <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                @Html.ActionLink(item.Nombre, "Details", new { id = item.Id })
            </figcaption>
        </figure>
    }
</section>
