<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .fondo{background:purple;}
        .border{border: black 3px solid;}
        .rojo{background: red;}
    </style>
</head>
<body>
    
    <div class="container-fluid bg-absolute-black">
        Idioma Twiter Facebook Google
    </div>
    <nav class="navbar navbar-dark bg-black navbar-expand-lg d-lg-none sticky-top">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="container navbar-nav text-center">
                @Html.ActionLink("HOME", "Index", "Home", new { @class = "nav-item nav-link active" })
                @Html.ActionLink("VIDEOJUEGOS", "Index", "Home", new { @class = "nav-item nav-link" })
                @Html.ActionLink("PUJA", "Index", "Home", new { @class = "nav-item nav-link" })
                @Html.ActionLink("CATEGORIA", "Index", "Home", new { @class = "nav-item nav-link" })
                <div>
                    <a class="btn">Log In</a>
                    <a class="btn btn-outline-danger">Register</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid navbar-dark bg-black d-none py-2 d-lg-block sticky-top font-weight-bold">
        <div class="row text-center">
            <div class="col-3 offset-2">&nbsp;
                <div class="row">
                    <div class="col">
                        @Html.ActionLink("HOME", "Index", "Home", new { @class = "col nav-link active" })
                    </div>
                    <div class="col ">
                        @Html.ActionLink("VIDEOJUEGOS", "Index", "Home", new { @class = "col nav-link" })
                    </div>
                </div>
            </div>
            <div class="col-2">
                @Html.ActionLink(" ", "Index", "Home", new { @class = "col nav-link logo" })
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col">
                        BUSQUEDA
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @Html.ActionLink("PUJA", "Index", "Home", new { @class = "col nav-link" })
                    </div>
                    <div class="col">
                        @Html.ActionLink("CATEGORIA", "Index", "Home", new { @class = "col nav-link" })
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="row">
                    <div class="col btn">Login</div>
                    <div class="col btn btn-outline-danger mr-1">
                        @Html.ActionLink("REGISTRO", "../Registrado/Create", "", new { @class = "col nav-link" })                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
