<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
    <style>
        .fondo{background:purple;}
        .border{border: black 3px solid;}
        .rojo{background: red;}
    </style>
</head>
<body>

    @{
        var controllerName = string.Empty;
        object controllerObj;
        var actionName = string.Empty;
        object actionObj;

        if (ViewContext.RouteData.Values.TryGetValue("controller", out controllerObj))
        {
            controllerName = controllerObj.ToString();
        }

        if (ViewContext.RouteData.Values.TryGetValue("action", out actionObj))
        {
            actionName = actionObj.ToString();
        }
    }

    <div class="container-fluid bg-absolute-black">
        <a class="text-white" href="#"><img class="social-mini mx-1" src="~/Images/World.png" />Idioma</a>
        <a href="#"><img class="social-mini ml-5 mx-1" src="~/Images/Facebook-rounded.png" /></a>
        <a href="#"><img class="social-mini mx-1" src="~/Images/Twitter-rounded.png" /></a>
        <a href="#"><img class="social-mini mx-1" src="~/Images/Google-rounded.png" /></a>
    </div>
    <nav class="navbar navbar-dark bg-black navbar-expand-lg d-lg-none sticky-top border-orange">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="container navbar-nav text-center">
                @Html.ActionLink("HOME", "Index", "Home", new { @class = "nav-item nav-link active" })
                @Html.ActionLink("VIDEOJUEGOS", "Index", "Home", new { @class = "nav-item nav-link" })
                @Html.ActionLink("PUJA", "Index", "Home", new { @class = "nav-item nav-link" })
                @Html.ActionLink("CATEGORIA", "Index", "Home", new { @class = "nav-item nav-link" })
                <div>
                    <a class="btn">Log In</a>
                    <a class="btn btn-outline-danger">Register</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid navbar-dark bg-black d-none py-2 d-lg-block sticky-top font-weight-bold border-orange menu">
        <div class="row text-center">
            <div class="col-3 offset-2">
                &nbsp;
                <div class="row">
                    <div class="col">
                        @if (controllerName == "Home")
                        {
                            @Html.ActionLink("HOME", "Index", "Home", null, new { @class = "col nav-link active elegant" })
                        }
                        else
                        {
                            @Html.ActionLink("HOME", "Index", "Home", null, new { @class = "col nav-link elegant" })
                        }
                    </div>
                    <div class="col ">
                        @if (controllerName == "Videojuegos")
                        {
                            @Html.ActionLink("VIDEOJUEGOS", "Index", "Home", null, new { @class = "col nav-link active elegant" })
                        }
                        else
                        {
                            @Html.ActionLink("VIDEOJUEGOS", "Index", "Home", null, new { @class = "col nav-link elegant" })
                        }

                    </div>
                </div>
            </div>
            <div class="col-2">
                @Html.ActionLink(" ", "Index", "Home", null, new { @class = "col nav-link logo" })
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col">
                        @using (Html.BeginForm("Busqueda", "Articulo", FormMethod.Post, new { @class = "form-inline" }))
                        {
                            <input class="busqueda" type="search" placeholder="Busqueda" name="termino" />
                            <button class="icon pointer" type="submit"></button>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @if (controllerName == "Puja")
                        {
                            @Html.ActionLink("PUJA", "Index", "Puja", null, new { @class = "col nav-link active elegant" })
                        }
                        else
                        {
                            @Html.ActionLink("PUJA", "Index", "Puja", null, new { @class = "col nav-link elegant" })
                        }
                    </div>
                    <div class="col">
                        @if (controllerName == "Categoria")
                        {
                            @Html.ActionLink("CATEGORIA", "Index", "Home", null, new { @class = "col nav-link active elegant" })
                        }
                        else
                        {
                            @Html.ActionLink("CATEGORIA", "Index", "Home", null, new { @class = "col nav-link elegant" })
                        }
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="row">
                    @if (Session["login"] == null)
                    {

                        <div class="btn">
                            @Html.ActionLink("Log In", "../Registrado/Login", "", new { @class = "col nav-link" })
                        </div>
                        <div class="btn btn-outline-light mr-1">
                            @Html.ActionLink("Registro", "../Registrado/Create", "", new { @class = "col nav-link" })
                        </div>
                    }
                    else
                    {
                        @*CON @SESSION[LOGIN] COJO EL NOMBRE DE USUARIO QUE HE ALMACENADO AL CREAR LA SESION*@
                        <div class="col-6"> @Session["login"]</div>
                        <a class="col-6 cesta pr-2 pt-2" href="#">
                            0  <span>Cesta</span>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
    @RenderBody()

    <footer>
        <div class="container-fluid bg-footer py-3">
            <div class="row text-center">
                <div class="col-12 offset-md-4 col-md-4">
                    <img class="footer_logo" src="~/Images/NA-ME.png" alt="NA-ME" />
                </div>
                <div class="col-12 col-md-4 my-3 text-md-right">
                    <a href="#"><img class="social mx-2" src="~/Images/Facebook-rounded.png" /></a>
                    <a href="#"><img class="social mx-2" src="~/Images/Twitter-rounded.png" /></a>
                    <a href="#"><img class="social mx-2" src="~/Images/Google-rounded.png" /></a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="text-secondary text-center">
                    <p class="small px-2">
                        ©2017 NA-ME, INC. ALL RIGHTS RESERVED.<br />
                        Todos los derechos reservados. Todas las marcas registradas son propiedad de sus respectivos dueños.
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col text-right">
                    <a href="#" class="text-orange">PRIVACIDAD</a>
                </div>
                <div class="text-white">|</div>
                <div class="col text-orange text-left">
                    <a href="#" class="text-orange">TÉRMINOS</a>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        var left = {
            reset: true,
            viewOffset: { top: 10 },
            origin: "left",
            distance: "150px",
            duration: 900,
            scale: 1
        }
        var right = {
            reset: true,
            viewOffset: { top: 00 },
            origin: "right",
            distance: "150px",
            duration: 900,
            scale: 1
        }

        var fry = {
            reset: true,
            viewOffset: { top: 0 },
            origin: "left",
            distance: "300px",
            duration: 900,
            scale: 1
        }

        var bottom = {
            reset: true,
            viewOffset: { top: 1 },
            duration: 700,
            scale: 0.8
        }

        window.sr = ScrollReveal();
        sr.reveal('.isfry', fry);
        sr.reveal('.float-left', left);
        sr.reveal('.float-right', right);

        sr.reveal('.column figure', bottom);
    </script>
</body>
</html>
