
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .fondo {
            background: #808080;
        }

        .border {
            border: black 3px solid;
        }

        .rojo {
            background: red;
        }
    </style>
</head>
<body>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
    $(function () {
        $("#Articulo_Id").change(function () {
            $.ajax({
                type: "POST",
                url: "/Articulo/AjaxMethod",
                data: '{id: "' + $("#Articulo_Id").val() + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $("input#Articulo_Nombre").val(response.Nombre);
                    $("input#Articulo_Precio").val(response.Precio);
                    $("input#Articulo_NomCategoria").val(response.NomCategoria);
                    $("input#Articulo_Descripcion").val(response.Descripcion);
                    $("input#Articulo_Stock").val(response.Stock);
                }
            });
        });
        $.ajax({
            type: "POST",
            url: "/Articulo/AjaxMethod",
            data: '{id: "' + $("#Articulo_Id").val() + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("input#Articulo_Nombre").val(response.Nombre);
                $("input#Articulo_Precio").val(response.Precio);
                $("input#Articulo_NomCategoria").val(response.NomCategoria);
                $("input#Articulo_Descripcion").val(response.Descripcion);
                $("input#Articulo_Stock").val(response.Stock);
            }
        });
    });
    </script>
</body>
</html>
